/* root start */
:root{
    --brandColorPrimary: #4CAF4F;
    --brandColorSecondary: #263238;
    --fontFamilyPrimary: "Inter", sans-serif;
    --darkGreyColor: #4D4D4D;
    --greyColor: #717171;
    --lightGreyColor: #89939E;
    --gray900Color: #18191F;
    --silverColor: #F5F7FA;
    --whiteColor: #fff;
    --dropShadowColor: #ABBED1;
}
/* root end */
/* css reset start */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

q:before,
q:after {
  content: "";
}

html,
body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  /* line-height: 1.5; */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  
}
/* css reset end */

/* common css start */
/* font family - Primary - Class */
.inter {
  font-family: var(--fontFamilyPrimary); /*"Inter", sans-serif;*/
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* common css end */

